.login-box {
  width: 300px;
  background: #fff;
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input,
select {
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
button,
.btn {
  padding: 8px 14px;
  background: #00388b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.btn.green {
  background: green;
}
.list-item {
  background: #fff;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.thumb {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}
.name {
  font-size: 18px;
  color: #00388b;
  font-weight: bold;
  text-decoration: none;
}
.voter-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #003366;
  width: 350px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.photo {
  width: 130px;
  height: 130px;
  border-radius: 6px;
  object-fit: cover;
}
.pagination {
  margin-top: 10px;
  font-size: 16px;
}
