name: Keep Render Awake

on:
  schedule:
    - cron: "*/5 * * * *"  # Runs every 5 minutes
  workflow_dispatch:  # Allow manual run

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Curl Render App
        run: |
          echo "Pinging Render instance..."
          curl -s -o /dev/null -w "%{http_code}\n" https://voteforsumitdhotepatil.onrender.com/
          curl -s -o /dev/null -w "%{http_code}\n" https://matadar.onrender.com/
          curl -s -o /dev/null -w "%{http_code}\n" https://matadarweb.onrender.com/
          
